:root {
  --primary-color: #3e7135;
  --primary-color-hover: #2b4926;
  --light-grey: #e7e7e7;
  --text-color: #333;
  --secondary-text-color: #666;
}

body {
  padding-top: 56px;
  --bs-primary: var(--primary-color);
  --bs-primary-rgb: 107, 157, 58;
  font-family: Arial, sans-serif;
}
.hero {
  background: url('../public/Provo_Canyon.jpg') center center/cover no-repeat;
  height: calc(100vh - 56px); /* 56px is the height of the navbar */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.glass {
  background: rgba(8, 8, 8, 0.4);
  padding: 20px;
  border-radius: 10px;
}
.footer {
  padding: 20px 0;
  background: #f8f9fa;
  text-align: center;
}
.resume-header {
  font-size: 18px;
  font-weight: bold;
}
.date-range {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
}
#resume {
  padding: 20px;
}
.resume-content {
  padding: 10px 0;
}
.resume-item {
  margin: 0 0 20px 0;
}
.resume-section {
  margin-bottom: 30px;
}
.section-title {
  margin-left: 0;
  font-size: 24px;
  color: var(--text-color);
  font-weight: bold;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding-top: 5px;
  padding-bottom: 5px;
}
.position-title {
  font-size: 16px;
  color: var(--text-color);
  margin-top: 0;
}
.company-details,
.location {
  font-size: 14px;
  color: var(--secondary-text-color);
}
ul {
  padding-left: 20px;
}
ul li {
  margin-bottom: 5px;
}
/* Responsive adjustments */
@media (max-width: 576px) {
  .d-flex {
    display: block !important;
  }
  .justify-content-between {
    justify-content: flex-start !important;
  }
  .align-items-center {
    align-items: flex-start !important;
  }
  .date-range,
  .location {
    text-align: left;
    margin-top: 5px;
  }
  #resume {
    padding: 10px;
  }
}
/* Bio section image adjustment */
.bio-image {
  max-height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .bio-image {
    height: 100%;
  }
}
/* Navbar adjustments */
.navbar-nav .nav-item {
  padding-left: 10px;
  padding-right: 10px;
}
.nav-link-button {
  margin-left: 10px;
}
.navbar-nav .nav-item .nav-link {
  padding: 10px 15px;
}
.btn-custom {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
}
.btn-custom:hover {
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  color: white;
}

/* Left nav links adjustments */
aside ul.nav a.nav-link {
  color: var(--primary-color);
}
aside ul.nav a.nav-link:hover {
  color: var(--primary-color-hover);
}

#on-platform-name {
  white-space: nowrap;
  font-weight: bold;
}

#explainer {
  padding: 2rem 0;
}

#explainer .tip {
  display: flex;
  align-items: center;
  background-color: #f6f8fa;
  border-left: 3px solid #28a745;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  flex-wrap: wrap;
}

#explainer .tip svg {
  fill: #28a745;
  margin-right: 0.5rem;
}

#explainer .tip span {
  color: #586069;
}

#explainer-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

#explainer-text {
  flex-basis: 100%;
  margin-top: 1rem;
}

@media (min-width: 576px) {
  #explainer .tip {
    flex-wrap: nowrap;
  }

  #explainer-text {
    margin-top: 0;
    margin-left: 1rem;
    flex-basis: auto;
  }

  #explainer-title {
    font-size: 1rem;
    font-weight: bold;
  }
}
